# Common Terraform ignores
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
crash.log
crash.*.log

# Prevent the .terraform directory and backend.tf from being tracked
./src/caf/.terraform

# Prevent the backend.tf from being tracked
./src/caf/backend.tf
